ACCESS_TOKEN_EXPIRE_MINUTES=10
REFRESH_TOKEN_EXPIRE_DAYS=7
VERIFICATION_TOKEN_EXPIRE_MINUTES=60
ACTIVATION_TOKEN_EXPIRE_MINUTES=60
DEACTIVATION_TOKEN_EXPIRE_MINUTES=60
LOST_PASSWORD_TOKEN_EXPIRE_MINUTES=60
SECRET_KEY=my_secret_key
ALGORITHM=HS256
TIMEZONE=-3

MONGO_URI=mongodb://root:changeme@db-test:27017
MONGO_DB_NAME=my-db

RABBITMQ_URL=amqp://guest:guest@localhost:5672

MAILGUN_API_KEY=your-api-key
MAILGUN_DOMAIN=your-domain.com
MAILGUN_SENDER=no-reply

COMPANY_NAME=My Company
SUPPORT_EMAIL=support@example.com

FRONTEND_URL=http://localhost:3000